*{
    margin: 15px;
    padding-left: 15px;
}




header{
    font-family: "Inconsolata", Arial, sans-serif;
    font-size: 24px;
    
}

.flexbox{
    display: flex;
    flex-flow: row nowrap;
}
.image{

    margin-top: 100px;
}

#scarecrow{
    height: 450px;
    width: 540px;
}


.text{
    padding-top: 100px;
    font-family: "Space Mono";
}

#badnews{
    font-size: 64px;
    padding-right: 300px;
}

#paragraph{
    font-size: 24px;
    padding-right: 600px;
}

.text button{
    background-color:#333333;
    color: white;
    height: 70px;
    width: 220px;
    font-size: 14px;
    font-family: "Space Mono";
}

footer{
    font-family: "Montserrat";
    font-style: bold;
    font-size: 14px;
    position: relative;
    top: 250px;
}

@media all and (max-device-width: 480px)
{
    *{
        margin-left: -10px;
        margin-top: 0px;
        padding: -10px;
    }
    
    header{
        font-size: 20px;
    }
    
    .flexbox{
        display: flex;
        flex-flow: column wrap;
    }

    
    #scarecrow{
        height: 340px;
        width: 390px;
    }
    
    
    .text{
        font-family: "Space Mono";
    }
    
    #badnews{
        width: auto;
        padding: 0px;
        font-size: 50px;
    }
    
    #paragraph{
        font-size: 20px;
        padding: 0px;

    }
    
    .text button{
        margin-top: 50px;
    }
    
    footer{
        width: 350px;
        margin-left: 60px;
        font-family: "Montserrat";
        font-style: bold;
        font-size: 14px;
        top: auto;
        position:unset;

    }





}